.CardGame {
    width: 100%;
    background: aquamarine
}

.NewGameButton {
    margin:center;
    width: 100px;
    height: 50px;
}

.table {
    border: 1px solid black;
    border-collapse: collapse;
  }

.tableData {
    height: 10;
    width: 100px;
}